[submodule "cpp_tests/c++/gtest"]
	path = cpp_tests/c++/gtest
	url = https://github.com/google/googletest.git
[submodule "android-example/third_part_libs/jni-rs"]
	path = android-example/third_part_libs/jni-rs
	url = git@github.com:Guang1234567/jni-rs.git
[submodule "android-example/third_part_libs/load-dotenv"]
	path = android-example/third_part_libs/load-dotenv
	url = git@github.com:Guang1234567/load-dotenv.git
